# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
bower_components/

# Environment files
.env
.env.local
.env.*.local

# Build directories
dist/
build/

# IDEs and text editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Google API Credentials or other sensitive data
*.json
!backend/package.json

# Other common temporary files
*.bak
*.swp


